@charset "utf-8";
/* CSS Document */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

html{
	overflow:hidden;
}

body{
	font-family:Arial, Helvetica, sans-serif;
}

#map{
	position:absolute;
	height:100%;
	width:100%;
	background-color:#d0cfd4
}

#topPanel{
	position:absolute;
	width:100%;
	padding:10px;;
	background-color:#848484;
	z-index:100;
}

#LegText{
	display:inline;
	color:#fff;
	font-size:14px;
	margin-right:40px;
	cursor:pointer;
}

#LegText:hover{
	color:#555;
}

#legSrchSplit{
	position:absolute;
	top:20%;
	height:60%;
	width:1px;
	background-color:#eaeaea;
	display:inline;
	z-index:200;
}

#searchText{
	display:inline;
	color:#fff;
	font-size:14px;
	margin-left:7px;
	cursor:pointer;
}

#helpText{
	display:inline;
	color:#fff;
	font-size:14px;
	float:right;
	margin-right:20px;
	margin-top:2px;
	.margin-top:-20px;
	cursor:pointer;
}

#helpText:hover{
	color:#555;
}

#searchText:hover{
	color:#555;
}

.search_field {
    display: inline-block;
	margin-left:50px;
    border: 1px inset #ccc;
	background:#dadada;
}

.search_field input {
    border: none;
    padding: 0;
}

#search{
	background-color:#dadada;
	outline:none;
	color:#555;
	font-style:italic;
	width:200px;
	margin-left:4px;
	margin-bottom:0px;
}

.search_field button {
	display:none;
    border: none;
    background: none;
	cursor:pointer;
}

#geoLocImg{
	height:13px;
	padding-top:2px;
}

.ui-autocomplete{
	position:absolute;
	background-color:#dadada;
	width:215px;
	max-height:500px;
	border:#848484 solid 1px;
	font-size:12px;
	overflow:auto;
}

.ui-autocomplete-category {
	font-weight: bold;
	line-height: 1.5;
	padding-top:.5em;
	padding: .2em .4em;
	font-size:13px
}

.ui-menu-item{
	outline:none;
	padding: .2em .4em;
}

.ui-state-hover{
	background:#999;
	display:block;
	outline:none;
}

.ui-state-hover:hover{
	background:#999;
	display:block;
	outline:none;
	cursor:pointer;
}

#helpDialog{
	position:absolute;
	height:337px;
	left:175px;
	top:50px;
	padding:10px;
	background-color:#555;
	border:#848484 solid 1px;
	color:#fff;
	z-index:100;
}

#helpHeader{
	margin-left:20px;
	margin-right:20px;
}

.help {
	font-size:12px;
	width:215px;
	list-style:square inside none;
	padding-top:5px;
}

#closeHelp{
	font-size:14px;
	margin-left:75px;
	margin-top:12px;
	cursor:pointer;
}

#closeHelp:hover{
	color:#333;
}

#popupArrow{
	display:none;
	position:absolute;
	z-index:99;
}

#popup{
	position:absolute;
	display:none;
	z-index:99;
	background-color:#dadada;
	width:250px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#popupBanner{
	width:250px;
	background-color:#848484;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	cursor:move;
}

#closePopup{
	position:absolute;
	right:5px;
	top:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	cursor:pointer;
}

#closePopup:hover{
	color:#333;
}

#popupTitle{
	color:#fff;
	padding:5px;
	padding-left:10px;
	width:220px;
	font-size:12px;
	font-weight:bold;
}

#description{
	color:#3e3e3e;
	margin-top:5px;
	padding:10px;
	padding-bottom:3px;
	font-size:12px;
}

#popUpLine{
	width:80px;
	height:1px;
	background-color:#999;
	margin-top:-10px;
	margin:10px;
	margin-bottom:10px;
}

#pageLink{
	color:#777;
	padding:10px;
	font-size:12px;
	text-decoration:none;
}

#pageLink:hover{
	color:#333;
	padding:10px;
	padding-top:6px;
	font-size:12px;
	text-decoration:underline;
}

#pageLink:visited{
	color:#777;
	padding:10px;
	padding-top:6px;
	font-size:12px;
	text-decoration:none;
}

#zoom{
	color:#777;
	padding:10px;
	padding-top:6px;
	padding-bottom:8px;
	font-size:12px;
	text-decoration:none;
}

#zoom:hover{
	color:#333;
	padding:10px;
	padding-top:6px;
	padding-bottom:8px;
	font-size:12px;
	cursor:pointer;
	text-decoration:underline;
}

#siteImg{
	padding:10px;
	max-height:150px;
	max-width:230px;
}

#legend{
	position:absolute;
	padding:10px;
	display:none;
	background:#555;
	color:#fff;
	font-size:12px;
	top:40px;
	border:#848484 solid 1px;
	border-top:none;
	z-index:40;
}

#iconSep{
	background-color:#848484;
	width:100%;
	height:1px;
	margin-top:5px;
	margin-bottom:5px;
}

td{
	padding:2px;
	vertical-align:middle;
}

#zoomToggle{
	position:absolute;
	top:10%;
	right:4%;
	z-index:959;
	border-collapse:collapse;
	cursor:pointer;
}

.zTab{
	padding:0;
}

.zoom{
	width:25px;
	height:25px;
}

#modalBackground{
	display:none;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	background-color:#333;
	z-index:960;
}

#introCon1{
	display:none;
	width:760px;
	margin:auto;
}

#introCon{
	position:absolute;
	width:760px;
	height:500px;
	background-color:#eaeaea;
	z-index:1000;
	top:80px;
}

#introBanner{
	background:#c4c4c4;
	height:80px;
	width:760px;
}

#introTitle{
	display:inline;
	position:absolute;
	margin-left:32px;
	white-space:nowrap;
	color:#555;
	font-weight:500;
	font-size:38px;
	line-height:2.0;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#introTextCon{
	position:absolute;
	top:105px;
	margin-left:35px;
	width:270px;
}

#introText{
	color:#444;
	font-size:15px !important;
}

#continue {
    cursor:pointer;
    margin:25px 0 0 0;
    display:inline-block;
}

#introImage{
	position:absolute;
	top:30px !important;
	margin-left:340px !important;
	width:380px;
}

#introCaption{
	position:absolute;
	font-size:11px;
	top:465px !important;
	margin-left:385px !important;
	color:#444;
}

a{
	color:#444;
	text-decoration:none;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}

a:visited{
	text-decoration:none;
}

/* clean gray
*******************************************************************************/
.clean-gray {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
    /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px;
}

.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}


/* Animated Symbol for Geolocator */
 @-webkit-keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;
          -webkit-transform: scale(1.25);

        }
        45%
        {
          opacity: .20;
          -webkit-transform: scale(.80);

        }
        100%
        {
          opacity: 1.0;
          -webkit-transform: scale(1.25);

        }
      }
@-moz-keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;
          -moz-transform: scale(1.25);

        }
        45%
        {
          opacity: .20;
          -moz-transform: scale(.80);

        }
        100%
        {
          opacity: 1.0;
          -moz-transform: scale(1.25);

        }
      }
#mapCanvas_graphics_layer
      {
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-name: pulse;
      }
	  
#map_graphics_layer
      {
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-name: pulse;
      }